[buildout]
develop = .
parts =
    test
#    coverage-test
#    coverage-report
#    benchmark
#    python

[test-environment]
CHAMELEON_DEBUG = False
CHAMELEON_CACHE = False

[test]
recipe = zc.recipe.testrunner
eggs = collective.z3cform.datetimewidget
environment = test-environment

[coverage-test]
recipe = zc.recipe.testrunner
eggs = collective.z3cform.datetimewidget
defaults = ['--coverage', '../../coverage']
environment = test-environment

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

[benchmark]
recipe = zc.recipe.testrunner
environment = benchmark-environment
eggs =
   collective.z3cform.datetimewidget
   benchmark
defaults = ['-m', 'benchmark']

[benchmark-environment]
CHAMELEON_DEBUG = False
CHAMELEON_CACHE = True

[python]
recipe = zc.recipe.egg
eggs = collective.z3cform.datetimewidget
interpreter = python
