[buildout]
develop = .
parts = test coverage docs
unzip = true

[test]
recipe = zc.recipe.testrunner
eggs = collective.z3cform.datetimewidget [test]

[coverage]
recipe = zc.recipe.testrunner
eggs = ${test:eggs}
defaults = ['--coverage', '../../coverage']

[docs]
recipe = collective.recipe.sphinxbuilder
source = collective.z3cform.datetimewidget:docs
